.sidebar {
  flex: 0.3;
  max-width: 300px;
  padding-right: 20px;
}
.sidebar__compose {
  margin-top: 15px;
  margin-left: 20px;
  margin-bottom: 20px;
  text-transform: capitalize;
  color: grey;
  padding: 15px;
  border-radius: 30px;
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75);
}
.sidebar__compose span {
  margin-right: 15px;
}
.sidebar__option {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 10px;
  border-top-right-radius: 20px;
  cursor: pointer;
  color: #818181;
}
.sidebar__option .material__icons {
  padding: 5px;
}
.sidebar__option h3 {
  flex: 1;
  margin-left: 10px;
  font-size: 20px;
  font-weight: 400;
}
.sidebar__option :hover,
.sidebar__option:hover h3,
.sidebar__option:hover .material__icons,
.sidebaroption__active,
.sidebaroption__active h3,
.sidebaroption__active .material__icons {
  background-color: #fcecec;
  color: #c04b37;
  font-weight: 800;
}
.sidebar__footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.sidebar__footer .material__icons {
  margin: 7px;
  cursor: pointer;
}
.main__body {
  display: flex;
  height: 100vh;
}
body {
  height: 100vh;
  overflow-y: hidden;
}
.email__list {
  flex: 1;
  overflow: scroll;
}
.emaillist__setting {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid whitesmoke;
  background-color: white;
  z-index: 999;
  padding: 8px;
}
.emaillist__settingleft {
  display: flex;
  align-items: center;
}
.emaillist__setting .material__icons {
  margin: 5px;
  cursor: pointer;
}
.section {
  display: flex;
  align-items: center;
  border-bottom-width: 2px;
  padding: 15px;
  min-width: 200px;
  cursor: pointer;
  border-width: 0;
}
.emaillist__section {
  position: sticky;
  top: 0;
  display: flex;
  background-color: white;
  border-bottom: 1px solid whitesmoke;
  z-index: 999;
}
.section__selected {
  background-color: whitesmoke;
  border-width: 3px;
  color: red;
  border-bottom: 3px solid red;
}
.section__selected .material__icons {
  color: red;
}
.section:hover {
  background-color: whitesmoke;
  border-width: 3px;
}
.section h4 {
  font-size: 14px;
  font-weight: 400;
}
.emailrow__option {
  display: flex;
  align-items: center;
}
.emailrow__option .material__icons {
  margin: 5px;
}
.emailrow {
  display: flex;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid whitesmoke;
  cursor: pointer;
  z-index: 999;
}
.emailrow:hover {
  border-top: 1px solid whitesmoke;
  box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.24);
}
.emailrow__message {
  display: flex;
  flex: 0.8;
  align-items: center;
  font-size: 13px;
}
.emailrow__message h4 {
  width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 5px;
  padding-right: 5px;
}
.emailrow__title {
  font-size: px;
  flex: 0.3;
}
.emailrow__time {
  padding-right: 15px;
  font-size: 10px;
  font-weight: bold;
}
.emailrow__description {
  font-weight: 400;
  color: grey;
}
.inputtextfield {
  width: 100%;
}
.mailcontent__heading {
  display: flex;
  margin-top: 10px;
  padding-left: 15px;
  align-items: center;
  justify-content: space-between;
}
.mailcontent__heading1 span {
  margin-right: 50px;
}
.body__box {
  background-color: #f4f4f4;
  width: 95%;
  height: 70%;
  padding: 25px;
  margin-right: 25px;
  margin-top: 20px;
}
.body__box p {
  font-size: 20px;
  text-align: left;
  margin-top: 20px;
}
.footer__button {
  margin-top: 25px;
  margin-bottom: 90px;
  display: flex;
}
.reply__button {
  border: 1px solid lightgrey;
  padding: 5px 12px;
  color: black;
  font-size: 22px;
  margin-right: 10px;
}
.reply__button span {
  margin-right: 10px;
}
.reply__button1 {
  border: 1px solid lightgrey;
  padding: 5px 12px;
  color: black;
  font-size: 22px;
  margin-right: 10px;
}
.reply__button1 span {
  margin-right: 10px;
}
